@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }
  :root {
    --background: 255 255 255;
    --foreground: 2 8 23;

    --card: 255 255 255;
    --card-foreground: 2 8 23;

    --popover: 255 255 255;
    --popover-foreground: 2 8 23;

    --primary: 15 23 42;
    --primary-foreground: 248 250 252;

    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;

    --muted: 241 245 249;
    --muted-foreground: 100 116 139;

    --accent: 241 245 249;
    --accent-foreground: 15 23 42;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 2 8 23;

    --radius: 0.5rem;
  }

  .dark {
    --background: 2 8 23;
    --foreground: 248 250 252;

    --card: 2 8 23;
    --card-foreground: 248 250 252;

    --popover: 2 8 23;
    --popover-foreground: 248 250 252;

    --primary: 248 250 252;
    --primary-foreground: 15 23 42;

    --secondary: 30 41 59;
    --secondary-foreground: 248 250 252;

    --muted: 30 41 59;
    --muted-foreground: 148 163 184;

    --accent: 30 41 59;
    --accent-foreground: 248 250 252;

    --destructive: 127 29 29;
    --destructive-foreground: 248 250 252;

    --border: 30 41 59;
    --input: 30 41 59;
    --ring: 203 213 225;
  }
}

input::-webkit-input-placeholder {
  position: relative;
  top: -1px;
}
