@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }
  :root {
    --background: 255 255 255;
    --foreground: 2 8 23;

    --primary: 15 23 42;
    --primary-foreground: 248 250 252;

    --light: 255 255 255;
    --light-foreground: 0 0 0;

    --dark: 0 0 0;
    --dark-foreground: 255 255 255;

    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 2 8 23;

    --radius: 0.5rem;
  }
}

input::-webkit-input-placeholder {
  position: relative;
  top: -1px;
}

input {
  --tw-ring-shadow: 0 0 #000 !important;
}
