@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }
  :root {
    --primary: 21deg 95.7% 27.1%;
    --primary-frg: 12deg 12.2% 16.1%;

    --secondary: 86deg 81.6% 38.4%;
    --secondary-frg: 0deg 0% 96.1%;

    --light: 220deg 2.6% 92.2%;
    --light-frg: 222deg 64.3% 16.5%;

    --dark: 222deg 64.3% 16.5%;
    --dark-frg: 220deg 2.6% 92.2%;

    --destructive: 0deg 82.7% 86.3%;
    --destructive-frg: 220deg 2.6% 92.2%;

    --success: 142deg 82.7% 77.3%;
    --success-frg: 220deg 2.6% 92.2%;

    --bkg: 0deg 0% 99.2%;
    --bkg-frg: 0deg 0% 15.7%;

    --bkg-sec: 210deg 0.8% 98.4%;
    --bkg-sec-frg: 0deg 0% 8.2%;

    --radius: 0.5rem;
  }
}

input::-webkit-input-placeholder {
  position: relative;
  top: -1px;
}

input {
  --tw-ring-shadow: 0 0 #000 !important;
}
